{% extends 'main/layoute.html' %}

{% block title %}
    Список заказов
{% endblock %}

{% block content %}
    <div class="container my-5">
        <h2>Список заказов</h2>

        {% if orders %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>№ Заказа</th>
                        <th>Пользователь</th>
                        <th>Заказчик</th>
                        <th>Продукты</th>
                        <th>Статус</th>
                        <th>Дата создания</th>
                        <th>Действия</th> <!-- Новый столбец для действий -->
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>
                                {% if order.user %}
                                    {{ order.user.username }}
                                {% else %}
                                    Не указан
                                {% endif %}
                            </td>
                            <td>
                                {% if order.customer %}
                                    {{ order.customer.name }}<br>
                                    Email: {{ order.customer.email }}<br>
                                    Телефон: {{ order.customer.phone|default:"Не указан" }}
                                {% else %}
                                    Не указан
                                {% endif %}
                            </td>
                            <td>
                                {% for product in order.products.all %}
                                    {{ product.name }}<br>
                                {% endfor %}
                            </td>
                            <td>{{ order.get_status_display }}</td>
                            <td>{{ order.created_at|date:"d M Y, H:i" }}</td>
                            <td>
                                <a href="{% url 'edit_order_for_customer' order_id=order.id %}" class="btn btn-primary btn-sm">Редактировать</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Нет заказов.</p>
        {% endif %}
    </div>
{% endblock %}
